<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469353238957-12uiflp6cae4b4gfdu29oe7p3d83i2ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469353238957-12uiflp6cae4b4gfdu29oe7p3d83i2ba</string>
	<key>API_KEY</key>
	<string>AIzaSyByifXzuAv53rBz9YlUli8HjEx1wP0XK2A</string>
	<key>GCM_SENDER_ID</key>
	<string>469353238957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expedientesClinicos</string>
	<key>PROJECT_ID</key>
	<string>expedientesclinicosdriran</string>
	<key>STORAGE_BUCKET</key>
	<string>expedientesclinicosdriran.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469353238957:ios:20ed097ef3c4804cef1124</string>
</dict>
</plist>